@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: blue;
	font-family: 'Open Sans', sans-serif;
}
.fiverr-wrapper{
	width: 600px;
	margin: 20px auto;
}

.counter{
	color: white;
	text-align: center;
}
.counter span{
	font-size: 100px;
	font-weight: 600;
	vertical-align: middle;
}