@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


body {
	background-color: blue;
	font-family: 'Open Sans', sans-serif;
}


