@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

*,
*::before,
*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
}


#edit{
	margin: 200px auto 0;
	text-align: center;
	display: block;
}
.modal-wrap{
	background-color: rgba(255, 255, 255, 0.301);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: translateY(-130px);
	transition: all .5s ease-in-out;
	pointer-events: none;
}
.modal-wrap.active{
	transform: translateY(0px);
	opacity: 1;
	pointer-events: auto;
}
.modal-inner{
	width: 600px;
	margin: 200px auto 0;
	background: #fff;
	border-radius: 10px;

}
.modal-wrap.active{
	transform: translateY(0px);
}


.close{
	border: none;
	background: transparent;
	font-size: 30px;

}
.modal-body{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.model-alart-section{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.555);
	display: none;
}

.modal-alart{
	width: 600px;
	margin: 200px auto 0;
	background: #fff;
	border-radius: 10px;
}
.alart-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #393939;
	padding: 10px 15px;
}

.alart-body{
	padding: 20px 15px;
}

.alart-body-footer{
	display: flex;
	justify-content: end;
}



button.editing {
    border: none ;
    background: transparent;
    margin: 0 19px ;
}

button.discard {
    background: blue;
    color: #fff;
    border: none;
    padding: 5px 22px;
    border-radius: 8px;
}