@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

*,
*::before,
*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.tab{
	width: 700px;
	background-color: #ffff;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	margin: 200px auto 0;
	padding: 40px 20px;

}

.tab-list-part ul {
    display: flex;
    justify-content: space-around;	
	margin: 0;
}
.tab-list-part ul li {
    list-style: none !important;
    width: 20%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.tab-list-part ul li a{
	color: #333;
	display: block;
	border-bottom: 1px solid rgb(75, 68, 68);
	
}
.tab-list-part ul li a.active{
	background-color: #ccc;
	border: 1px solid rgb(75, 68, 68);
	border-bottom: none;
	
}

.tab_body{
	display: none;
}
.tab_body.active{
	display: block;
}