@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


/* body {
	background-color: rgb(255, 166, 0);
	font-family: 'Open Sans', sans-serif;
} */

body{
	font-weight: 600;
}


